<ul>
  <li><a href="/">home</a></li>
  <li><a href="/dinosaurs.html">dinosaurs</a></li>
  <li><a href="/aliens.html">aliens</a></li>
  <li>new alien</li>
</ul>

<p>
  <form action="/aliens.html">
    Alien's name: <input type="text" name="firstname" /><br />
    <input type="submit" value="Submit" />
  </form>
</p>